div.post {
  background-color: rgb(222, 222, 222);
  border-radius: 8px;
  margin: auto;
  margin: 2% 2%;
  padding: 2% 2% 3% 2%;
  min-height: 280px;

}

img.post {
  height: 200px;
  width: 325px;
  float: left;
  margin-right: 1%;
}

p.author {
  text-align: right;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

.comments {
  position: relative;
  margin-left: 28%;

}
